/* Base CSS for theme
 * -- loosely derived from html4css1.css from Docutils
 *
 * ToDo:
 * -- wide <PRE> blocks in footnotes create elements wider than page
 *   -- not sure this is readily solved in CSS, but avoidable in reST...
 */


/*****************************************************************************/
/* Colors:
 * foreground: #222222
 * background: #fefefe
 * background for sidebars: #f8f8f4
 * Borders: #cccccc, and #e4e4e4 for a ligher border
 * Yellow text: #fbe54e hsl(yellow/52, 96%, 65%)
 * Rubric: #a00000
 * System Message: #f2f2a6 (yellow, 75% saturation, 80% lightness)
 * ... or #f5f5a3 (80%sat, 80%light)
 */



/*****************************************************************************/
/* Very basic settings                                                       */

@charset "UTF-8";

body {
	font-family: "Open Sans", Ariel, Helvetica, sans-serif;
}

section,
article header {
	background-color: #fefefe;
	color: #222222;
}


/*****************************************************************************/
/* Simple 'responsive' behavior                                              */

html {
	font-size: 10px;
}

@media (min-width: 400px) {
	html {
		font-size: 12px;
	}
}

@media (min-width: 800px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 900px) {
	article {
		padding-left: 10%;
	}
	section,
	article header {
		width: 88%;
		padding: 0.5em 0.5rem 0.5em 0.5rem;
	}
}

@media (min-width: 1300px) {
	article {
		padding-left: 20%;
	}
	section,
	article header {
		width: 75%;
	}
}


/*****************************************************************************/
/* Basic Sizes                                                               */

/* Larger type for most stuff */
p,
div.section > ol.simple > li,
div.section > ul.simple > li {
	/* Note: "ul.simple" are the non-intented bullet lists */
	font-size: 1.5rem;
	line-height: 1.5;
}

/* Keep type smaller for tightly formatted parts */
li p,
dd p,
table p,
blockquote p,
table.footnote p,
div.sidebar p,
div.legend p,
div.figure p.caption {
	width: auto;
	font-size: 1.0rem;
	line-height: 1.25;
}


/*****************************************************************************/
/* reStructuredText settings                                                 */


/* -- special classes ------------------------------------------------------- */


img.align-left,
div.align-left,
object.align-left {
	clear: left;
	float: left;
	margin-right: 1rem;
}

img.align-right,
div.align-right,
object.align-right {
	clear: right;
	float: right;
	margin-left: 1rem;
}

img.align-center,
div.align-center,
object.align-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.titleless p.topic-title,
div.titleless p.sidebar-title,
div.titleless p.admonition-title {
	display: none;
}


/* -- figures --------------------------------------------------------------- */

div.figure {
	margin: 0.5em 0rem 0.5em 0rem;
	border: 1px solid #cccccc;
	padding: 0.5em 0.5rem 0.5em 0.5rem;
	background-color: #f8f8f4;
}

div.figure img {
	object-fit: contain;
}


/* -- sidebars -------------------------------------------------------------- */

div.sidebar,
blockquote.sidebar {
	margin: 0.5em 0rem 0.5em 1rem;
	border: 1px solid #cccccc;
	padding: 0 0.5rem 0 0.5rem;
	background-color: #f8f8f4;
	width: 40%;
	float: right;
}
div.sidebar.narrow,
blockquote.sidebar.narrow {
	width: 20%;
}
div.sidebar.wide,
blockquote.sidebar.wide {
	width: 60%;
}
div.sidebar.align-left,
blockquote.sidebar.align-left {
	/* if pushed left, swap right/left margin values */
	margin: 0.5em 1rem 0.5em 1rem;
	float: left;
}
div.admonition.sidebar {
	/* support a ":class: sidebar" for admonitions (to shrink them) */
	margin: 0.5em 1rem 0.5em 0rem;
}

p.sidebar-title {
	padding-top: 0.5em;
	font-weight: bold;
}

/* -- topics ---------------------------------------------------------------- */

div.topic {
	margin: 0.5em 0rem 0.5em 0rem;
	border: 1px solid #cccccc;
	padding: 0.5em 0.5rem 0.5em 0.5rem;
}

p.topic-title {
	text-align: center;
	font-size: 1.25rem;
	font-weight: bold;
	margin-top: 1rem;
}

ul.auto-toc {
	list-style-type: none
}


/* -- admonitions ----------------------------------------------------------- */

div.admonition {
	margin: 0.5em 0rem 0.5em 0rem;
	border: 1px solid #cccccc;
	padding: 0.5em 0.5rem 0.5em 0.5rem;
}

div.admonition dt {
	font-weight: bold;
}

div.admonition dl {
	margin-bottom: 0;
}

p.admonition-title {
	margin: 0 1rem 0.5em 0;
	font-weight: bold;
	text-align: center;
}
div.danger p.admonition-title {
	color: #f00000;
	text-transform: uppercase;
}
div.caution p.admonition-title {
	color: #a00000;
}
div.attention p.admonition-title {
	color: #d00000;
}
div.error p.admonition-title {
	color: #c00000;
}
div.warning p.admonition-title {
	color: #b00000;
}
div.important p.admonition-title {
	color: #a00000;
}
div.note p.admonition-title {
	color: #900000;
}
div.hint p.admonition-title {
	color: #800000;
}
div.tip p.admonition-title {
	color: #700000;
}
p.admonition-title {
	color: #400000;
}

div.body p.centered {
	text-align: center;
}


/* -- quotes and messages --------------------------------------------------- */

.system-message {
	background-color: #f2f2a6;
	padding: 0.25em 0.25rem 0.25em 0.25rem;
	border: 3px solid red;
}

not(blockquote) .line-block {
	margin: 0.5em 0rem 0.5em 0rem;
	border: 1px solid #cccccc;
	padding: 0.5em 0.5rem 0.5em 0.5rem;
	background-color: #f8f8f4;
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
}

.line-block .line-block {
	/* indented block within a block, only need the indent... */
	margin: 0;
	border: none;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 1.5em;
}

blockquote {
	font-family: "Open Sans Condensed", Ariel, Helvetica, sans-serif;
	margin: 0.5em 0rem 0.5em 0rem;
	border: 1px solid #cccccc;
	padding: 0.5em 0.5rem 0.5em 0.5rem;
	background-color: #f8f8f4;
}

blockquote.highlights {
	background-color: #fefefe;
}

blockquote.epigraph {
	background-color: #fefefe;
}
blockquote.epigraph p:not(.attribution) {
	font-size: 1.5rem;
	font-style: oblique;
	color: #a00000;
}

blockquote.pull-quote {
	padding: 1em 5rem 1em 5rem;
	background-color: #fefefe;
	font-weight: bold;
	font-style: oblique;
	font-size: 2rem;
	color: #a00000;
	position: relative;
}
blockquote.pull-quote:before {
	font-family: "Open Sans", Ariel, Helvetica, sans-serif;
	content: "\0201c";
	font-size: 8rem;
	color: #f2dede;
	position: absolute;
	left: -0.000em;
	top: 0.0em;
}
blockquote.pull-quote:after {
	font-family: "Open Sans", Ariel, Helvetica, sans-serif;
	content: "\0201d";
	font-size: 8rem;
	color: #f2dede;
	position: absolute;
	right: 0.250em;
	bottom: -0.5em;
}
blockquote.pull-quote p {
	display: block;
	font-size: 1rem;
	color: #222222;
}
blockquote.pull-quote p:not(.attribution) {
	display: inline;
	font-weight: bold;
	font-style: oblique;
	font-size: 2rem;
	color: #a00000;
}

p.rubric {
	color: #a00000;
	margin-top: 2em;
	font-weight: bold;
}


/* -- code displays --------------------------------------------------------- */

pre {
	margin: 0.5em 0rem 0.5em 0rem;
	border: 1px solid #cccccc;
	padding: 0.5em 0.5rem 0.5em 0.5rem;
	background-color: #f8f8f4;
	overflow: auto;
	overflow-y: hidden;  /* fixes display issues on Chrome browsers */
	font-family: "Roboto Mono", monospace;
}
tt {
	font-family: "Roboto Mono", monospace;
}

pre.address {
	margin: 0 1rem 0 0;
}


/* -- footnotes ------------------------------------------------------------- */

.footnote-reference {
	vertical-align: super;
	font-size: 0.75em;
	line-height: normal;
}

table.docutils.citation,
table.docutils.footnote {
	margin: 0.5em 0rem 0.5em 0rem;
	border: 1px solid #cccccc;
	padding: 1em 0.5rem 1em 0.5rem;
	background-color: #f8f8f4;
	width: 100%;
}


/* -- tables ---------------------------------------------------------------- */

table.docutils {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border: 0;
	border-collapse: collapse;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

table.docutils th {
	padding: 1px 0.5rem 1px 0.5rem;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #cccccc;
}
table.docutils td {
	padding: 1px 0.5rem 1px 0.5rem;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #e4e4e4;
}

/* Ensure there are no borders for the Docutils-generated tables */
table.field-list,
table.field-list td,
table.field-list th {
	border: 0 !important;
}
/* ... and Docutils generates footnotes as a table */
/* but since we border the notes, we don't set "none" for the outer table */
table.footnote td,
table.footnote th {
	border: none;
}

table.citation td {
	border-bottom: none;
}

th {
	text-align: left;
	padding-right: 0.5rem;
}


/* -- headings -------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	color: #a00000;
}
h1 {
	font-size: 2rem;
	padding-top: 1em;
}
h2 {
	font-size: 1.5rem;
	padding-top: 1em;
}
h3 {
	font-size: 1.25rem;
	padding-top: 1em;
}
h4 {
	font-size: 1.0rem;
	padding-top: 1em;
}
h5 {
	font-size: 0.875rem;
	padding-top: 1em;
}
h6 {
	font-size: 0.75rem;
}


/* -- other body styles ----------------------------------------------------- */

div.body p.caption {
	text-align: inherit;
}

div.body td {
	text-align: left;
}

.field-list ul {
	padding-left: 1rem;
}

.first {
	/* uncomment to force first elements to not have a top margin ...
	margin-top: 0 !important;
	... */
}

ol.arabic {
	list-style: decimal;
}

ol.loweralpha {
	list-style: lower-alpha;
}

ol.upperalpha {
	list-style: upper-alpha;
}

ol.lowerroman {
	list-style: lower-roman;
}

ol.upperroman {
	list-style: upper-roman;
}

dl {
	margin-bottom: 1em;
}

dd p {
	margin-top: 0px;
}

dd ul,
dd table {
	margin-bottom: 1em;
}

dd {
	margin-top: 0.25em;
	margin-bottom: 1em;
	margin-left: 2rem;
}

dl.docutils dt {
	font-weight: bold
}

dt:target,
.highlighted {
	background-color: #fbe54e;
}

dl.glossary dt {
	font-weight: bold;
	font-size: 1.125em;
}

.field-list ul {
	margin: 0;
	padding-left: 1em;
}

.field-list p {
	margin: 0;
}

.optional {
	font-size: 1.25em;
}

.versionmodified {
	font-style: italic;
}

.accelerator {
	text-decoration: underline;
}

.classifier {
	font-style: oblique;
}

abbr,
acronym {
	border-bottom: dotted 1px;
	cursor: help;
}


/*****************************************************************************/
/* Page Header & Footer                                                      */

header,
footer {
	font-family: "Open Sans Condensed", Ariel, Helvetica, sans-serif;

	background: #900000; /* expect this to be overridden in config */
	color: #fefefe;      /* expect this to be overridden in config */
}

header {
	padding-top: 1em;
	padding-left: 5%;
	padding-right: 5%;
}

footer {
	clear: both;
}

div.top-banner > div.top-title {
	font-size: 2rem;
	font-weight: bold;
	padding-top: 2em;
	padding-bottom: 3em;
	text-align: center;
}

header > nav {
	padding-top: 2em;
}
header > nav > ul {
	list-style-type: none;
	font-weight: bold;
	padding: 0;
	margin: 0;
}
header > nav > ul > li {
	float: left;
	padding-right: 2rem;
	letter-spacing: 0.125em;
}
header > nav::after {
	content: "";
	display: block;
	clear: both;
}

header > nav li > a:before {
	content: "\0003c";
	visibility: hidden;
}
header > nav li > a:after {
	content: ">";
	visibility: hidden;
}
header > nav li > a.active:before {
	content: "\0003c";
	visibility: visible;
}
header > nav li > a.active:after {
	content: ">";
	visibility: visible;
}

header > nav a:link,
header > nav a:visited,
footer a:link,
footer a:visited {
	text-decoration: none;
}
header > nav a:link,
header > nav a:visited {
	font-size: 1.25rem;
}
header > nav a {
	display: block;
	vertical-align: baseline;
	text-transform: uppercase;
}

header > nav a img {
	height: 5rem;
	position: relative;
	max-width: 100%;
	top: -1.5rem;
}

hr.marginless,
footer hr,
article header hr {
	margin: 0;
}



/*****************************************************************************/
/* Flourishes                                                                */


/* -- Reduce the visibility of links in some situations ---------------------*/

a:link,
a:visited {
	/* Do not recolor links in the default blue-link coloration */
	color: inherit;
}

h1 a:link,
h2 a:link,
h3 a:link,
h4 a:link,
h5 a:link,
h6 a:link {
	/* Do not underline the links that are in H1 to H6 elements */
	text-decoration: none;
}


/* -- Code Syntax Highlighting ----------------------------------------------*/

/* formats for <PRE class="code"> */

/* lovelace */
.code  { background: #ffffff; } /*  */
.code .comment { color: #888888; font-style: italic } /* .c */
.code .comment.hashbang { color: #287088; font-style: italic } /* .ch */
.code .comment.multiline { color: #888888; font-style: italic } /* .cm */
.code .comment.preproc { color: #289870 } /* .cp */
.code .comment.preprocfile { color: #888888; font-style: italic } /* .cpf */
.code .comment.single { color: #888888; font-style: italic } /* .c1 */
.code .comment.special { color: #888888; font-style: italic } /* .cs */
.code .error { background-color: #a848a8 } /* .err */
.code .generic.deleted { color: #c02828 } /* .gd */
.code .generic.emph { font-style: italic } /* .ge */
.code .generic.error { color: #c02828 } /* .gr */
.code .generic.heading { color: #666666 } /* .gh */
.code .generic.inserted { color: #388038 } /* .gi */
.code .generic.output { color: #666666 } /* .go */
.code .generic.prompt { color: #444444 } /* .gp */
.code .generic.strong { font-weight: bold } /* .gs */
.code .generic.subheading { color: #444444 } /* .gu */
.code .generic.traceback { color: #2838b0 } /* .gt */
.code .highlight { background-color: #ffffcc } /* .hll */
.code .keyword { color: #2838b0 } /* .k */
.code .keyword.constant { color: #444444; font-style: italic } /* .kc */
.code .keyword.declaration { color: #2838b0; font-style: italic } /* .kd */
.code .keyword.namespace { color: #2838b0 } /* .kn */
.code .keyword.pseudo { color: #2838b0 } /* .kp */
.code .keyword.reserved { color: #2838b0 } /* .kr */
.code .keyword.type { color: #2838b0; font-style: italic } /* .kt */
.code .literal.number.bin { color: #444444 } /* .mb */
.code .literal.number { color: #444444 } /* .m */
.code .literal.number.float { color: #444444 } /* .mf */
.code .literal.number.hex { color: #444444 } /* .mh */
.code .literal.number.integer { color: #444444 } /* .mi */
.code .literal.number.integer.long { color: #444444 } /* .il */
.code .literal.number.oct { color: #444444 } /* .mo */
.code .literal.string.affix { color: #444444 } /* .sa */
.code .literal.string.backtick { color: #b83838 } /* .sb */
.code .literal.string.char { color: #a848a8 } /* .sc */
.code .literal.string { color: #b83838 } /* .s */
.code .literal.string.delimiter { color: #b85820 } /* .dl */
.code .literal.string.doc { color: #b85820; font-style: italic } /* .sd */
.code .literal.string.double { color: #b83838 } /* .s2 */
.code .literal.string.escape { color: #709030 } /* .se */
.code .literal.string.heredoc { color: #b83838 } /* .sh */
.code .literal.string.interpol { color: #b83838; text-decoration: underline } /* .si */
.code .literal.string.other { color: #a848a8 } /* .sx */
.code .literal.string.regex { color: #a848a8 } /* .sr */
.code .literal.string.single { color: #b83838 } /* .s1 */
.code .literal.string.symbol { color: #b83838 } /* .ss */
.code .name.attribute { color: #388038 } /* .na */
.code .name.builtin { color: #388038 } /* .nb */
.code .name.builtin.pseudo { color: #388038; font-style: italic } /* .bp */
.code .name.class { color: #287088 } /* .nc */
.code .name.constant { color: #b85820 } /* .no */
.code .name.decorator { color: #287088 } /* .nd */
.code .name.entity { color: #709030 } /* .ni */
.code .name.exception { color: #908828 } /* .ne */
.code .name.function { color: #785840 } /* .nf */
.code .name.function.magic { color: #b85820 } /* .fm */
.code .name.label { color: #289870 } /* .nl */
.code .name.namespace { color: #289870 } /* .nn */
.code .name.tag { color: #2838b0 } /* .nt */
.code .name.variable.class { color: #b04040 } /* .vc */
.code .name.variable { color: #b04040 } /* .nv */
.code .name.variable.global { color: #908828 } /* .vg */
.code .name.variable.instance { color: #b04040 } /* .vi */
.code .name.variable.magic { color: #b85820 } /* .vm */
.code .operator { color: #666666 } /* .o */
.code .operator.word { color: #a848a8 } /* .ow */
.code .punctuation { color: #888888 } /* .p */
.code .text.whitespace { color: #a89028 } /* .w */


/* Formats for <CODE> elements (inline) */

/* lovelace */
code  { background: #ffffff; } /*  */
code .comment { color: #888888; font-style: italic } /* .c */
code .comment.hashbang { color: #287088; font-style: italic } /* .ch */
code .comment.multiline { color: #888888; font-style: italic } /* .cm */
code .comment.preproc { color: #289870 } /* .cp */
code .comment.preprocfile { color: #888888; font-style: italic } /* .cpf */
code .comment.single { color: #888888; font-style: italic } /* .c1 */
code .comment.special { color: #888888; font-style: italic } /* .cs */
code .error { background-color: #a848a8 } /* .err */
code .generic.deleted { color: #c02828 } /* .gd */
code .generic.emph { font-style: italic } /* .ge */
code .generic.error { color: #c02828 } /* .gr */
code .generic.heading { color: #666666 } /* .gh */
code .generic.inserted { color: #388038 } /* .gi */
code .generic.output { color: #666666 } /* .go */
code .generic.prompt { color: #444444 } /* .gp */
code .generic.strong { font-weight: bold } /* .gs */
code .generic.subheading { color: #444444 } /* .gu */
code .generic.traceback { color: #2838b0 } /* .gt */
code .highlight { background-color: #ffffcc } /* .hll */
code .keyword { color: #2838b0 } /* .k */
code .keyword.constant { color: #444444; font-style: italic } /* .kc */
code .keyword.declaration { color: #2838b0; font-style: italic } /* .kd */
code .keyword.namespace { color: #2838b0 } /* .kn */
code .keyword.pseudo { color: #2838b0 } /* .kp */
code .keyword.reserved { color: #2838b0 } /* .kr */
code .keyword.type { color: #2838b0; font-style: italic } /* .kt */
code .literal.number.bin { color: #444444 } /* .mb */
code .literal.number { color: #444444 } /* .m */
code .literal.number.float { color: #444444 } /* .mf */
code .literal.number.hex { color: #444444 } /* .mh */
code .literal.number.integer { color: #444444 } /* .mi */
code .literal.number.integer.long { color: #444444 } /* .il */
code .literal.number.oct { color: #444444 } /* .mo */
code .literal.string.affix { color: #444444 } /* .sa */
code .literal.string.backtick { color: #b83838 } /* .sb */
code .literal.string.char { color: #a848a8 } /* .sc */
code .literal.string { color: #b83838 } /* .s */
code .literal.string.delimiter { color: #b85820 } /* .dl */
code .literal.string.doc { color: #b85820; font-style: italic } /* .sd */
code .literal.string.double { color: #b83838 } /* .s2 */
code .literal.string.escape { color: #709030 } /* .se */
code .literal.string.heredoc { color: #b83838 } /* .sh */
code .literal.string.interpol { color: #b83838; text-decoration: underline } /* .si */
code .literal.string.other { color: #a848a8 } /* .sx */
code .literal.string.regex { color: #a848a8 } /* .sr */
code .literal.string.single { color: #b83838 } /* .s1 */
code .literal.string.symbol { color: #b83838 } /* .ss */
code .name.attribute { color: #388038 } /* .na */
code .name.builtin { color: #388038 } /* .nb */
code .name.builtin.pseudo { color: #388038; font-style: italic } /* .bp */
code .name.class { color: #287088 } /* .nc */
code .name.constant { color: #b85820 } /* .no */
code .name.decorator { color: #287088 } /* .nd */
code .name.entity { color: #709030 } /* .ni */
code .name.exception { color: #908828 } /* .ne */
code .name.function { color: #785840 } /* .nf */
code .name.function.magic { color: #b85820 } /* .fm */
code .name.label { color: #289870 } /* .nl */
code .name.namespace { color: #289870 } /* .nn */
code .name.tag { color: #2838b0 } /* .nt */
code .name.variable.class { color: #b04040 } /* .vc */
code .name.variable { color: #b04040 } /* .nv */
code .name.variable.global { color: #908828 } /* .vg */
code .name.variable.instance { color: #b04040 } /* .vi */
code .name.variable.magic { color: #b85820 } /* .vm */
code .operator { color: #666666 } /* .o */
code .operator.word { color: #a848a8 } /* .ow */
code .punctuation { color: #888888 } /* .p */
code .text.whitespace { color: #a89028 } /* .w */
