{{ define "main" }}
{{ $dateFormat := default "Mon, Jan 2, 2006" (index .Site.Params "date_format") }}
{{ partial "body-fetchedge.html" . }}
<article style="{{ $.Scratch.Get "ReSTedgeStyle" | safeCSS }}">
  <header>
    {{ with .Title }}{{ . | markdownify }}{{ end }}{{ with .Params.author }}, {{ . }}{{ end }}, <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format $dateFormat }}</time>
    <hr>
  </header>
  <section>
    {{ .Content }}
  </section>
</article>
{{ end }}
