{{ $dateFormat := default "Jan 2, 2006" (index .Site.Params "date_format") }}
<section>
  <hr class="marginless">
  <h2><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2>
  <ul><li><em><time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>{{ .Date.Format $dateFormat }}</time> {{ if or (.Params.author) (default .Site.Params.author) }}by {{ .Params.author | default .Site.Params.author }}{{ end }}{{ if or (.Params.categories) (.Params.tags) }}, {{ partial "summ-terms.html" . }}{{ end }}</em></li></ul>
  {{ if isset .Params "description" }}
  <p><em>Description:</em> {{ .Params.description }}</p>
  {{ else }}
  <p><em>Extract:</em> {{ .Summary }}{{ if .Truncated }} [...]{{ end }}</p>
  {{ end }}
  <p style="margin-bottom: 0;"><a href='{{ .Permalink }}'>Read ...</a></p>
</section>


